/* ==================================================================
レイアウト部用CSS
=================================================================== */

/* 1.conteiner/pagebody
====================================================================*/
/* container */
div#container {margin:0 auto;}
div#container_inner {}


#maincontent{
	position:fixed;
	left:30px;
	bottom:60px;
	z-index:50;
	color:#fff;
	text-shadow: #000 0px 0px 3px; /* CSS3草案 */
	opacity:0;
}
//#maincontent:hover{opacity:0.9}
#maincontent p{float:right;}

h1{font-size:200%; line-height:1; font-weight:bold;margin:0 0 10px;}
#maincontent a:hover{color:#F00;font-weight:bold;}

#footer{margin:0;padding:0;position:absolute;z-index:10;bottom:0;}

#glnavi{position:fixed;left:50%;bottom:-20px;z-index:10;margin:0 0 0 -120px;}
#glnavi ul{overflow:hidden;}
#glnavi li{float:left;padding:0 5px 0 0;opacity:1;}
#glnavi li img{opacity:0;}
#glnavi li.li01{background:url("../img/home.png") no-repeat scroll 0 0 transparent}
#glnavi li.li02{background:url("../img/fb.png") no-repeat scroll 0 0 transparent}
#glnavi li.li03{background:url("../img/tw.png") no-repeat scroll 0 0 transparent}
#glnavi li.li04{background:url("../img/blog.png") no-repeat scroll 0 0 transparent}
#glnavi li.li05{background:url("../img/hand.png") no-repeat scroll 0 0 transparent}


#foot_copy{z-index:5;position:fixed;bottom:-5px;width:100%;-moz-box-shadow: 0 0 10px #666;-webkit-box-shadow: 0 0 10px #666;box-shadow: 0 0 10px #000;}
#foot_copy p{padding:2px 10px;text-align:right;background:#fff;font-size:70%;opacity:0;height:0;}
#foot_copy a{color:#666;}

.bgmaximage{
  position:fixed !important;
  display:none;
}

.loader {
  position:absolute;
  z-index:9999;
  width:39px;
  height:39px;
  top:48%;
  left:48%
}
