/* ==================================================================
PRINT 印刷用CSS
=================================================================== */
#container { width:100%;}
#pagebody { width:100%;}
#wrapper { width:100%;}
#wrapper_cols { width:100%;}
#alpha { width:100%;}
#beta {display:none;}